mljar-mercury
pandas
openpyxl
openrouteservice
folium
https://github.com/crushedtiggy/Vehicle-Optimisation-Routing-Analysis/blob/main/random_shops_extract.xlsx
https://github.com/crushedtiggy/Vehicle-Optimisation-Routing-Analysis/blob/main/Master_Products.xlsx
